.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  margin-left: 45%;   
  margin-bottom: 10%;
}

.text {
 margin-right: 15%;
}


.img {

    width: 1000px;
    height: 600px;
    text-align: center;
    margin-left: 27%;
}